/* fonts Lato, Roboto & Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto&display=swap');

/* animations */
@keyframes header-animation {
    from {
        background-color: #162f3f;
    }
    to {
        background-color: var(--gold);
    }
}


/* reseting */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

hr {
    height: 20px;
    background-color: var(--gold);
}

/* colors shortcuts */
:root {
    --light-gold: #996F3A;
    --gold: #a8910b;
    --darkblue: #011422;
    --lightblue: #396DFA;
    --cyan: #39E6FA;
    --purple: #8239FA;
    --blue: #4339FA;
}

/* header styles */
.logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.logo img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 40px;
}

.logo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: var(--light-gold);
}

header {
    background-color: var(--darkblue);
}

header .content nav ul {
    list-style: none;
    background-color: #162f3f;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

header .content nav ul a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--light-gold);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .content nav ul a:hover {      /* activates when the mouse is over the <a> tag */
    animation-name: header-animation;   /* calls the animation */
    animation-duration: 1s;
    color: var(--darkblue);     /* defines another color for the text so it can be visible during the animation */
    animation-fill-mode: forwards;      /* animation will keep on the 'to' mode after the animation duration is over */
}

/* slogan styles */
.slogan {
    background-color: var(--darkblue);
    text-align: center;
}

.slogan img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
    z-index: 2;
}

.slogan .text1,
.slogan .text2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 550;
    color: var(--light-gold);
}

.text1 {
    margin-right: -100px;
    transform: translateX(-161px);
    transition: transform 2s;
}

.text2 {
    margin-left: -100px;
    transform: translateX(160px);
    transition: transform 3s;
}

/* slider styles */
.banners-slider {
    position: relative;
    overflow: hidden;
}

.banners-slider .slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banners-slider .slider-images img {
    width: 100%;
    object-fit: cover;
}

.banners-slider .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.banners-slider #next {
    right: 10%;
}

.banners-slider #prev {
    left: 10%;
}