<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="content">
            <div class="logo">  <!--logo & store title-->
                <img src="../static/img/logo.jpg" alt="logo">
                <p><strong>Timeless</strong> Watches</p>
            </div>
            <nav>   <!--navegation links-->
                <ul>
                    <a href="#colecoes" onclick="scrolltomiddle('colecoes')">
                        <li>Coleções</li>
                    </a>
                    <a href="#famous" onclick="scrolltomiddle('famous')">
                        <li>Mais famosos</li>
                    </a>
                    <a href="#">
                        <li>Sobre</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="slogan">
        <div class="text1"> <!--left slogan text-->
            <p>Relógios</p>
            <p>que</p>
            <p>contam</p>
        </div>
        
        <img src="../static/img/slogan.jpg" alt="slogan">
        
        <div class="text2"> <!--right slogan text-->
            <p>histórias</p>
            <p>de</p>
            <p>luxo</p>
        </div>
    </section>

    <hr id="yellow-hr">

    <div id="colecoes" class="scroll-target">
        <section class="slider-container">    <!--collections slider-->
            <div class="slider-wrapper">
                <img class="slide" src="../static/img/classic-collection.png" alt="classic-collection">
                <img class="slide" src="../static/img/exclusive-collection.png" alt="exclusive-collection">
                <img class="slide" src="../static/img/sports-collection.png" alt="sports-collection">
            </div>
            <button class="prev" onclick="prevSlide()"><img src="../static/img/right-arrow.png" alt="previous-image-button"></button>
            <button class="next" onclick="nextSlide()"><img src="../static/img/right-arrow.png" alt="next-image-button"></button>
        </section>
    </div>

    <section class="famous" id="famous">    <!--most requisited-->

        <div class="title">
            <p>Mais famosos</p>
        </div>

        <div class="products">
               
            <div class="product"><img src="../static/img/famous1.jpg"></div>
            <div class="product"><img src="../static/img/famous2.jpg"></div>
            <div class="product"><img src="../static/img/famous3.jpg"></div>
            <div class="product"><img src="../static/img/famous4.jpg"></div>
            <div class="product"><img src="../static/img/famous5.jpg"></div>

        </div>

    </section>
    
    <script src="../static/js/index.js"></script>
</body>
</html>