<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="content">
            <div class="logo">
                <img src="../static/img/logo.jpg" alt="logo">
                <p><strong>Timeless</strong> Watches</p>
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>Coleções</li>
                    </a>
                    <a href="#">
                        <li>Mais procurados</li>
                    </a>
                    <a href="#">
                        <li>Sobre</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="banners-slider">

    </section>
    
    <script src="../static/js/index.js"></script>
</body>
</html>